
#Created by Constraints Editor (xc3s5000-fg676-4) - 2012/12/13
#TIMESPEC TS_PAD2PAD = FROM "PADS" TO "PADS" 20 ns;

# --------------------------------------
# -- CIC_Mini_PLATFORM_3S5000                         
# --------------------------------------

## AHB Tri-State Bus   
#NET "HREADYin" LOC="W1"   | IOSTANDARD=LVTTL ; # HREADYIPS1
#NET "ReadyIP2" LOC="Y25"  | IOSTANDARD=LVTTL ; # HREADYIPS2
#NET "ReadyIP3" LOC="AB25" | IOSTANDARD=LVTTL ; # HREADYIPS3
#NET "ReadyIP4" LOC="AC26" | IOSTANDARD=LVTTL ; # HREADYIPS4

                
## GCLK         
NET "HCLK" LOC="C14"  | IOSTANDARD=LVTTL ; # GCLK1	


## Peripheral
#NET "button" LOC="C12" | IOSTANDARD=LVTTL ; # BT3
#NET "Button[1]" LOC="B12" | IOSTANDARD=LVTTL ; # BT2
#NET "Button[2]" LOC="A10" | IOSTANDARD=LVTTL ; # BT1
#NET "button" LOC="E6"  | IOSTANDARD=LVTTL ; # BT0

#NET "SW[0]" LOC="L26" | IOSTANDARD=LVTTL ; # SW_0
#NET "SW[1]" LOC="L25" | IOSTANDARD=LVTTL ; # SW_1
#NET "SW[2]" LOC="L23" | IOSTANDARD=LVTTL ; # SW_2
#NET "SW[3]" LOC="L22" | IOSTANDARD=LVTTL ; # SW_3
#NET "SW[4]" LOC="M26" | IOSTANDARD=LVTTL ; # SW_4
#NET "SW[5]" LOC="M24" | IOSTANDARD=LVTTL ; # SW_5
#NET "SW[6]" LOC="M22" | IOSTANDARD=LVTTL ; # SW_6
#NET "SW[7]" LOC="N24" | IOSTANDARD=LVTTL ; # SW_7

#NET "sum[0]" LOC="C23" | IOSTANDARD=LVTTL ; # LED0
#NET "sum[1]" LOC="A23" | IOSTANDARD=LVTTL ; # LED1
#NET "sum[2]" LOC="B23" | IOSTANDARD=LVTTL ; # LED2
#NET "sum[3]" LOC="A22" | IOSTANDARD=LVTTL ; # LED3
#NET "sum[4]" LOC="C22" | IOSTANDARD=LVTTL ; # LED4
#NET "sum[5]" LOC="A21" | IOSTANDARD=LVTTL ; # LED5
#NET "sum[6]" LOC="B21" | IOSTANDARD=LVTTL ; # LED6
#NET "sum[7]" LOC="C21" | IOSTANDARD=LVTTL ; # LED7

NET "interrupt" LOC="F13" | IOSTANDARD=LVTTL ; # interrupt

#NET "GPIO_DIP[0]"  LOC="B13" | IOSTANDARD=LVTTL ; # GCLK1_DIPGPIO
#NET "GPIO_DIP[1]"  LOC="E15" | IOSTANDARD=LVTTL ; # DIP1_14
#NET "GPIO_DIP[2]"  LOC="F15" | IOSTANDARD=LVTTL ; # DIP1_0
#NET "GPIO_DIP[3]"  LOC="F14" | IOSTANDARD=LVTTL ; # DIP1_13
#NET "GPIO_DIP[4]"  LOC="F17" | IOSTANDARD=LVTTL ; # DIP1_1
#NET "GPIO_DIP[5]"  LOC="D20" | IOSTANDARD=LVTTL ; # DIP1_12
#NET "GPIO_DIP[6]"  LOC="F18" | IOSTANDARD=LVTTL ; # DIP1_2
#NET "GPIO_DIP[7]"  LOC="D21" | IOSTANDARD=LVTTL ; # DIP1_11
#NET "GPIO_DIP[8]"  LOC="F19" | IOSTANDARD=LVTTL ; # DIP1_3
#NET "GPIO_DIP[9]"  LOC="E19" | IOSTANDARD=LVTTL ; # DIP1_10
#NET "GPIO_DIP[10]" LOC="F21" | IOSTANDARD=LVTTL ; # DIP1_4
#NET "GPIO_DIP[11]" LOC="E21" | IOSTANDARD=LVTTL ; # DIP1_9
#NET "GPIO_DIP[12]" LOC="F20" | IOSTANDARD=LVTTL ; # DIP1_5
#NET "GPIO_DIP[13]" LOC="F16" | IOSTANDARD=LVTTL ; # DIP1_8
#NET "GPIO_DIP[14]" LOC="E20" | IOSTANDARD=LVTTL ; # DIP1_6
#NET "GPIO_DIP[15]" LOC="E18" | IOSTANDARD=LVTTL ; # DIP1_7

#NET "EXT_DIP[0]"  LOC="AF4"  | IOSTANDARD=LVTTL ; # IO_EXT_1
#NET "EXT_DIP[1]"  LOC="AC6"  | IOSTANDARD=LVTTL ; # IO_EXT_35
#NET "EXT_DIP[2]"  LOC="AD4"  | IOSTANDARD=LVTTL ; # IO_EXT_3
#NET "EXT_DIP[3]"  LOC="AE5"  | IOSTANDARD=LVTTL ; # IO_EXT_4
#NET "EXT_DIP[4]"  LOC="AD5"  | IOSTANDARD=LVTTL ; # IO_EXT_5
#NET "EXT_DIP[5]"  LOC="AF6"  | IOSTANDARD=LVTTL ; # IO_EXT_6
#NET "EXT_DIP[6]"  LOC="AE6"  | IOSTANDARD=LVTTL ; # IO_EXT_7
#NET "EXT_DIP[7]"  LOC="AD6"  | IOSTANDARD=LVTTL ; # IO_EXT_8
#NET "EXT_DIP[8]"  LOC="AF8"  | IOSTANDARD=LVTTL ; # IO_EXT_9
#NET "EXT_DIP[9]"  LOC="AE8"  | IOSTANDARD=LVTTL ; # IO_EXT_10
#NET "EXT_DIP[10]" LOC="AD8"  | IOSTANDARD=LVTTL ; # IO_EXT_11
#NET "EXT_DIP[11]" LOC="AE9"  | IOSTANDARD=LVTTL ; # IO_EXT_12
#NET "EXT_DIP[12]" LOC="AD9"  | IOSTANDARD=LVTTL ; # IO_EXT_13
#NET "EXT_DIP[13]" LOC="AF10" | IOSTANDARD=LVTTL ; # IO_EXT_14
#NET "EXT_DIP[14]" LOC="AE10" | IOSTANDARD=LVTTL ; # IO_EXT_15
#NET "EXT_DIP[15]" LOC="AD10" | IOSTANDARD=LVTTL ; # IO_EXT_16
#NET "EXT_DIP[16]" LOC="AF11" | IOSTANDARD=LVTTL ; # IO_EXT_17
#NET "EXT_DIP[17]" LOC="AE11" | IOSTANDARD=LVTTL ; # IO_EXT_18
#NET "EXT_DIP[18]" LOC="AF12" | IOSTANDARD=LVTTL ; # IO_EXT_19
#NET "EXT_DIP[19]" LOC="AD12" | IOSTANDARD=LVTTL ; # IO_EXT_20
#NET "EXT_DIP[20]" LOC="AF15" | IOSTANDARD=LVTTL ; # IO_EXT_21
#NET "EXT_DIP[21]" LOC="AE15" | IOSTANDARD=LVTTL ; # IO_EXT_22
#NET "EXT_DIP[22]" LOC="AD15" | IOSTANDARD=LVTTL ; # IO_EXT_23
#NET "EXT_DIP[23]" LOC="AE16" | IOSTANDARD=LVTTL ; # IO_EXT_24
#NET "EXT_DIP[24]" LOC="AF17" | IOSTANDARD=LVTTL ; # IO_EXT_25
#NET "EXT_DIP[25]" LOC="AE17" | IOSTANDARD=LVTTL ; # IO_EXT_26
#NET "EXT_DIP[26]" LOC="AE18" | IOSTANDARD=LVTTL ; # IO_EXT_27
#NET "EXT_DIP[27]" LOC="AD18" | IOSTANDARD=LVTTL ; # IO_EXT_28
#NET "EXT_DIP[28]" LOC="AF19" | IOSTANDARD=LVTTL ; # IO_EXT_29
#NET "EXT_DIP[29]" LOC="AE19" | IOSTANDARD=LVTTL ; # IO_EXT_30
#NET "EXT_DIP[30]" LOC="AD19" | IOSTANDARD=LVTTL ; # IO_EXT_31
#NET "EXT_DIP[31]" LOC="AF20" | IOSTANDARD=LVTTL ; # IO_EXT_32
#NET "EXT_DIP[32]" LOC="AE20" | IOSTANDARD=LVTTL ; # IO_EXT_33
#NET "EXT_DIP[33]" LOC="AF21" | IOSTANDARD=LVTTL ; # IO_EXT_34
#NET "EXT_DIP[34]" LOC="AE4"  | IOSTANDARD=LVTTL ; # IO_EXT_2
#NET "EXT_DIP[35]" LOC="AB6"  | IOSTANDARD=LVTTL ; # IO_EXT_67
#NET "EXT_DIP[36]" LOC="AB7"  | IOSTANDARD=LVTTL ; # IO_EXT_66
#NET "EXT_DIP[37]" LOC="AC7"  | IOSTANDARD=LVTTL ; # IO_EXT_65
#NET "EXT_DIP[38]" LOC="AC8"  | IOSTANDARD=LVTTL ; # IO_EXT_64
#NET "EXT_DIP[39]" LOC="AB9"  | IOSTANDARD=LVTTL ; # IO_EXT_63
#NET "EXT_DIP[40]" LOC="AC9"  | IOSTANDARD=LVTTL ; # IO_EXT_62
#NET "EXT_DIP[41]" LOC="AB10" | IOSTANDARD=LVTTL ; # IO_EXT_61
#NET "EXT_DIP[42]" LOC="AC10" | IOSTANDARD=LVTTL ; # IO_EXT_60
#NET "EXT_DIP[43]" LOC="AB11" | IOSTANDARD=LVTTL ; # IO_EXT_59
#NET "EXT_DIP[44]" LOC="AC11" | IOSTANDARD=LVTTL ; # IO_EXT_58
#NET "EXT_DIP[45]" LOC="AE13" | IOSTANDARD=LVTTL ; # GCLK1_IO_EXT
#NET "EXT_DIP[46]" LOC="AB16" | IOSTANDARD=LVTTL ; # IO_EXT_56
#NET "EXT_DIP[47]" LOC="AC16" | IOSTANDARD=LVTTL ; # IO_EXT_55
#NET "EXT_DIP[48]" LOC="AB17" | IOSTANDARD=LVTTL ; # IO_EXT_54
#NET "EXT_DIP[49]" LOC="AC17" | IOSTANDARD=LVTTL ; # IO_EXT_53
#NET "EXT_DIP[50]" LOC="AB18" | IOSTANDARD=LVTTL ; # IO_EXT_52
#NET "EXT_DIP[51]" LOC="AC18" | IOSTANDARD=LVTTL ; # IO_EXT_51
#NET "EXT_DIP[52]" LOC="AB19" | IOSTANDARD=LVTTL ; # IO_EXT_50
#NET "EXT_DIP[53]" LOC="AC19" | IOSTANDARD=LVTTL ; # IO_EXT_49
#NET "EXT_DIP[54]" LOC="AB20" | IOSTANDARD=LVTTL ; # IO_EXT_48
#NET "EXT_DIP[55]" LOC="AC20" | IOSTANDARD=LVTTL ; # IO_EXT_47
#NET "EXT_DIP[56]" LOC="AB21" | IOSTANDARD=LVTTL ; # IO_EXT_46
#NET "EXT_DIP[57]" LOC="AC21" | IOSTANDARD=LVTTL ; # IO_EXT_45
#NET "EXT_DIP[58]" LOC="AD21" | IOSTANDARD=LVTTL ; # IO_EXT_44
#NET "EXT_DIP[59]" LOC="AE21" | IOSTANDARD=LVTTL ; # IO_EXT_43
#NET "EXT_DIP[60]" LOC="AE22" | IOSTANDARD=LVTTL ; # IO_EXT_42
#NET "EXT_DIP[61]" LOC="AF22" | IOSTANDARD=LVTTL ; # IO_EXT_41
#NET "EXT_DIP[62]" LOC="AD23" | IOSTANDARD=LVTTL ; # IO_EXT_40
#NET "EXT_DIP[63]" LOC="AE23" | IOSTANDARD=LVTTL ; # IO_EXT_39
#NET "EXT_DIP[64]" LOC="AF23" | IOSTANDARD=LVTTL ; # IO_EXT_38
#NET "EXT_DIP[65]" LOC="AE24" | IOSTANDARD=LVTTL ; # IO_EXT_37
#NET "EXT_DIP[66]" LOC="AF24" | IOSTANDARD=LVTTL ; # IO_EXT_36
#NET "EXT_DIP[67]" LOC="AB23" | IOSTANDARD=LVTTL ; # IO_EXT_57

##  AHB Bus     
#NET "" LOC="F24"  | IOSTANDARD=LVTTL ; # DHBUSREQ                  
#NET "" LOC="K26"  | IOSTANDARD=LVTTL ; # DHGRANT                   
#NET "" LOC="E2" | IOSTANDARD=LVTTL ; # DHLOCK                 
NET "HADDRtri[0]" LOC="P22"  | IOSTANDARD=LVTTL ; # HADDR[0]                  
NET "HADDRtri[1]" LOC="U24"  | IOSTANDARD=LVTTL ; # HADDR[1] 
NET "HADDRtri[2]" LOC="P21"  | IOSTANDARD=LVTTL ; # HADDR[2]
NET "HADDRtri[3]" LOC="U26"  | IOSTANDARD=LVTTL ; # HADDR[3] 
NET "HADDRtri[4]" LOC="T26"  | IOSTANDARD=LVTTL ; # HADDR[4]   
NET "HADDRtri[5]" LOC="U25"  | IOSTANDARD=LVTTL ; # HADDR[5]   
NET "HADDRtri[6]" LOC="R22"  | IOSTANDARD=LVTTL ; # HADDR[6]   
NET "HADDRtri[7]" LOC="V23"  | IOSTANDARD=LVTTL ; # HADDR[7]   
NET "HADDRtri[8]" LOC="R21"  | IOSTANDARD=LVTTL ; # HADDR[8]   
NET "HADDRtri[9]" LOC="V24"  | IOSTANDARD=LVTTL ; # HADDR[9]   
NET "HADDRtri[10]" LOC="T25"  | IOSTANDARD=LVTTL ; # HADDR[10]                 
NET "HADDRtri[11]" LOC="V25"  | IOSTANDARD=LVTTL ; # HADDR[11]                 
NET "HADDRtri[12]" LOC="T23"  | IOSTANDARD=LVTTL ; # HADDR[12]                 
NET "HADDRtri[13]" LOC="W24"  | IOSTANDARD=LVTTL ; # HADDR[13]                 
NET "HADDRtri[14]" LOC="U5" | IOSTANDARD=LVTTL ; # HADDR[14]                 
NET "HADDRtri[15]" LOC="U3" | IOSTANDARD=LVTTL ; # HADDR[15]                 
NET "HADDRtri[16]" LOC="T6" | IOSTANDARD=LVTTL ; # HADDR[16]                 
NET "HADDRtri[17]" LOC="U1" | IOSTANDARD=LVTTL ; # HADDR[17]                 
NET "HADDRtri[18]" LOC="T5" | IOSTANDARD=LVTTL ; # HADDR[18]                 
NET "HADDRtri[19]" LOC="U2" | IOSTANDARD=LVTTL ; # HADDR[19]                 
NET "HADDRtri[20]" LOC="R6" | IOSTANDARD=LVTTL ; # HADDR[20]                 
NET "HADDRtri[21]" LOC="T2" | IOSTANDARD=LVTTL ; # HADDR[21]                 
NET "HADDRtri[22]" LOC="T4" | IOSTANDARD=LVTTL ; # HADDR[22]                 
NET "HADDRtri[23]" LOC="R3" | IOSTANDARD=LVTTL ; # HADDR[23]                 
NET "HADDRtri[24]" LOC="R5" | IOSTANDARD=LVTTL ; # HADDR[24]                 
NET "HADDRtri[25]" LOC="T1" | IOSTANDARD=LVTTL ; # HADDR[25]                 
NET "HADDRtri[26]" LOC="P5" | IOSTANDARD=LVTTL ; # HADDR[26]                 
NET "HADDRtri[27]" LOC="R1" | IOSTANDARD=LVTTL ; # HADDR[27]                 
NET "HADDRtri[28]" LOC="P6" | IOSTANDARD=LVTTL ; # HADDR[28]                 
NET "HADDRtri[29]" LOC="P1" | IOSTANDARD=LVTTL ; # HADDR[29]                 
NET "HADDRtri[30]" LOC="P4" | IOSTANDARD=LVTTL ; # HADDR[30]                 
NET "HADDRtri[31]" LOC="P2" | IOSTANDARD=LVTTL ; # HADDR[31]                 
NET "HBURSTtri[0]" LOC="H22"  | IOSTANDARD=LVTTL ; # HBURST[0]                 
NET "HBURSTtri[1]" LOC="H25"  | IOSTANDARD=LVTTL ; # HBURST[1]                 
NET "HBURSTtri[2]" LOC="H23"  | IOSTANDARD=LVTTL ; # HBURST[2]                 
NET "HBUSREQ" LOC="W2" | IOSTANDARD=LVTTL ; # HBUSREQIPM1               
#NET "" LOC="F2" | IOSTANDARD=LVTTL ; # HBUSREQIPM2                                 
NET "HGRANT" LOC="Y1" | IOSTANDARD=LVTTL ; # HGRANTIPM1                
#NET "" LOC="Y2" | IOSTANDARD=LVTTL ; # HGRANTIPM2                
#NET "" LOC="AB1" | IOSTANDARD=LVTTL ; # HLOCKIPM1                 
#NET "" LOC="AB2" | IOSTANDARD=LVTTL ; # HLOCKIPM2                 
#NET "HMASTER[0]" LOC="J22"  | IOSTANDARD=LVTTL ; # HMASTER[0]                
#NET "HMASTER[1]" LOC="J24"  | IOSTANDARD=LVTTL ; # HMASTER[1]                
#NET "HMASTER[2]" LOC="J23"  | IOSTANDARD=LVTTL ; # HMASTER[2]                
#NET "HMASTER[3]" LOC="J25"  | IOSTANDARD=LVTTL ; # HMASTER[3]                
NET "HLOCKtri" LOC="AC25"  | IOSTANDARD=LVTTL ; # HMASTLOCK                 
NET "HPROTtri[0]" LOC="G23"  | IOSTANDARD=LVTTL ; # HPORT[0]                  
NET "HPROTtri[1]" LOC="G26"  | IOSTANDARD=LVTTL ; # HPORT[1]                  
NET "HPROTtri[2]" LOC="F22"  | IOSTANDARD=LVTTL ; # HPORT[2]                  
NET "HPROTtri[3]" LOC="F26"  | IOSTANDARD=LVTTL ; # HPORT[3]                  
NET "HREADYM" LOC="K25"  | IOSTANDARD=LVTTL ; # HREADY                    
#NET "" LOC="AA1" | IOSTANDARD=LVTTL ; # HREADYAPB                 
NET "HREADYS" LOC="W1" | IOSTANDARD=LVTTL ; # HREADYIPS[1]              
#NET "HREADYIPS2" LOC="Y25"  | IOSTANDARD=LVTTL ; # HREADYIPS[2]              
#NET "HREADYSIP3" LOC="AB25"  | IOSTANDARD=LVTTL ; # HREADYIPS[3]              
#NET "HREADYIPS4" LOC="AC26"  | IOSTANDARD=LVTTL ; # HREADYIPS[4]              
NET "HRESETn" LOC="K23"  | IOSTANDARD=LVTTL ; # HRESETN                   
NET "HRESPtri[0]" LOC="N25"  | IOSTANDARD=LVTTL ; # HRESP0                    
NET "HRESPtri[1]" LOC="K22"  | IOSTANDARD=LVTTL ; # HRESP1                    
NET "HRWDATAtri[0]" LOC="G2" | IOSTANDARD=LVTTL ; # HRWDATA[0]                
NET "HRWDATAtri[1]" LOC="G1" | IOSTANDARD=LVTTL ; # HRWDATA[1]
NET "HRWDATAtri[2]" LOC="G4" | IOSTANDARD=LVTTL ; # HRWDATA[2]
NET "HRWDATAtri[3]" LOC="G5" | IOSTANDARD=LVTTL ; # HRWDATA[3]
NET "HRWDATAtri[4]" LOC="G6" | IOSTANDARD=LVTTL ; # HRWDATA[4] 
NET "HRWDATAtri[5]" LOC="H4" | IOSTANDARD=LVTTL ; # HRWDATA[5] 
NET "HRWDATAtri[6]" LOC="H3" | IOSTANDARD=LVTTL ; # HRWDATA[6] 
NET "HRWDATAtri[7]" LOC="H2" | IOSTANDARD=LVTTL ; # HRWDATA[7] 
NET "HRWDATAtri[8]" LOC="J3" | IOSTANDARD=LVTTL ; # HRWDATA[8] 
NET "HRWDATAtri[9]" LOC="J2" | IOSTANDARD=LVTTL ; # HRWDATA[9] 
NET "HRWDATAtri[10]" LOC="H6" | IOSTANDARD=LVTTL ; # HRWDATA[10]               
NET "HRWDATAtri[11]" LOC="J6" | IOSTANDARD=LVTTL ; # HRWDATA[11]               
NET "HRWDATAtri[12]" LOC="J5" | IOSTANDARD=LVTTL ; # HRWDATA[12]               
NET "HRWDATAtri[13]" LOC="J4" | IOSTANDARD=LVTTL ; # HRWDATA[13]               
NET "HRWDATAtri[14]" LOC="K4" | IOSTANDARD=LVTTL ; # HRWDATA[14]               
NET "HRWDATAtri[15]" LOC="K2" | IOSTANDARD=LVTTL ; # HRWDATA[15]               
NET "HRWDATAtri[16]" LOC="K1" | IOSTANDARD=LVTTL ; # HRWDATA[16]               
NET "HRWDATAtri[17]" LOC="K6" | IOSTANDARD=LVTTL ; # HRWDATA[17]               
NET "HRWDATAtri[18]" LOC="K5" | IOSTANDARD=LVTTL ; # HRWDATA[18]               
NET "HRWDATAtri[19]" LOC="K3" | IOSTANDARD=LVTTL ; # HRWDATA[19]               
NET "HRWDATAtri[20]" LOC="L4" | IOSTANDARD=LVTTL ; # HRWDATA[20]               
NET "HRWDATAtri[21]" LOC="L2" | IOSTANDARD=LVTTL ; # HRWDATA[21]               
NET "HRWDATAtri[22]" LOC="L1" | IOSTANDARD=LVTTL ; # HRWDATA[22]               
NET "HRWDATAtri[23]" LOC="M1" | IOSTANDARD=LVTTL ; # HRWDATA[23]               
NET "HRWDATAtri[24]" LOC="L6" | IOSTANDARD=LVTTL ; # HRWDATA[24]               
NET "HRWDATAtri[25]" LOC="L5" | IOSTANDARD=LVTTL ; # HRWDATA[25]               
NET "HRWDATAtri[26]" LOC="M5" | IOSTANDARD=LVTTL ; # HRWDATA[26]               
NET "HRWDATAtri[27]" LOC="M3" | IOSTANDARD=LVTTL ; # HRWDATA[27]               
NET "HRWDATAtri[28]" LOC="M2" | IOSTANDARD=LVTTL ; # HRWDATA[28]               
NET "HRWDATAtri[29]" LOC="N4" | IOSTANDARD=LVTTL ; # HRWDATA[29]
NET "HRWDATAtri[30]" LOC="N5" | IOSTANDARD=LVTTL ; # HRWDATA[30]               
NET "HRWDATAtri[31]" LOC="M6" | IOSTANDARD=LVTTL ; # HRWDATA[31]               
#NET "" LOC="AC1" | IOSTANDARD=LVTTL ; # HSELAPB                   
NET "HSEL" LOC="V2" | IOSTANDARD=LVTTL ; # HSELIPS1                  
#NET "" LOC="B10" | IOSTANDARD=LVTTL ; # HSELIPS2                  
#NET "" LOC="E1" | IOSTANDARD=LVTTL ; # HSELIPS3 (HSELIP4)                  
#NET "" LOC="D2" | IOSTANDARD=LVTTL ; # HSELIPS4 (HSELIP3)                  
NET "HSIZEtri[0]" LOC="H26"  | IOSTANDARD=LVTTL ; # HSIZE[0]                  
NET "HSIZEtri[1]" LOC="G22"  | IOSTANDARD=LVTTL ; # HSIZE[1]                  
NET "HSIZEtri[2]" LOC="G25"  | IOSTANDARD=LVTTL ; # HSIZE[2]                  
NET "HTRANStri[0]" LOC="N22"  | IOSTANDARD=LVTTL ; # HTRANS0                   
NET "HTRANStri[1]" LOC="U23"  | IOSTANDARD=LVTTL ; # HTRANS1                   
NET "HWRITEtri" LOC="N23"  | IOSTANDARD=LVTTL ; # HWRITE                    
#NET "" LOC="F23"  | IOSTANDARD=LVTTL ; # IHBUSREQ                  
#NET "" LOC="K24"  | IOSTANDARD=LVTTL ; # IHGRANT                   
#NET "" LOC="F1" | IOSTANDARD=LVTTL ; # IHLOCK  


